[client]
port		= {{ mysql_port }}
socket		= /var/run/mysqld/mysqld.sock


[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= {{ mysql_port }}
basedir		= /usr
datadir		= {{ mysql_datadir }}
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking
bind-address		= {{ mysql_bind_address }}
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8
query_cache_limit	= 1M
query_cache_size        = 16M
log_error = {{ error_log_path }}
expire_logs_days	= 10
max_binlog_size         = 100M



[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]

[isamchk]

!includedir /etc/mysql/conf.d/
